h5 {
	font-style: italic;
}

h5.resturant_title {
	font-size: 30px;
}

#index_page_sort_select{
	height: 30px;
}

.index-resturant-container {
	height: 550px;
	width: 150px;
	overflow: auto;
}

.index-resturant-item {
	background: rgba(220,220,220,.5);
	margin: 3px;
	width: 140px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

.index-reviews-container {
	background-color: rgba(220,220,220,.5);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	max-height: 300px;
	width: 90%;
	margin: 5px 5px 0px 0px;
	overflow: auto;
	padding: 5px 0px 5px 0px
}

.index-reviews-item {
	border-top: 1px solid rgba(250,250,250,.5);
	border-bottom:  1px solid rgba(250,250,250,.5);
	padding: 5px 2px 5px 2px;
}

.logout {
	margin-top: 5px;
	margin-left: 100%;
}

.login {
	margin-top: 5px;
	margin-left: 100%;
}

.header {
	margin-top: 12px;
	color: #dddddd;
	font-style: italic;
	font-size: 16px;
}

.panel-left {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 20%;
}

.panel-right {
	position: absolute;;
	top: 55px;
	right: 0px;
	width: 76%;
}

.profile-container {
	padding: 5px 10px 5px 10px;
}

.profile-title-div {
	height: 150px;
	width: 25%;
	text-align: center;
	vertical-align: center;
	padding-right: 10px;
}

.profile-stats-div {
	border: 1px solid black;
	padding: 5px;
	position: absolute;
	top: 65px;
	right: 10px;
}

.profile-description-div {
	background-color: rgba(220,220,220,.5);
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	top: 65px;
	left: 25%;
	width: 50%;
	height:150px;
}

.profile-reviews-div {
	background-color: rgba(220,220,220,.5);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	max-height: 165px;
	width: 75%;
	margin: 5px 5px 0px 0px;
	overflow: auto;
	padding: 5px 0px 5px 0px
}

.profile-reviews-item {
	border-top: 1px solid rgba(250,250,250,.5);
	border-bottom:  1px solid rgba(250,250,250,.5);
	padding: 5px 2px 5px 2px;
}



textarea {
	background-color:rgba(220,220,220,.5);
	width: 90%;
	height: 60px;
	border: none;
}