
	<h1> Hi!</h1>
	
	<p>Resturant Page</p>

	<form action="" method="post" name="resturant">
    {{ form.hidden_tag() }}
    <p>
        Build a resturant:<br><br>
        Name: {{ form.name(size=40) }}<br>
        Price: {{ form.price() }}<br>
        Quality: {{ form.quality() }}<br>
        Type: {{ form.type(size=40) }}<br><br>
        Description: {{ form.description(size=90)}}<br>
        Community Score: {{ form.community_score() }}<br>
        Expert Score: {{ form.expert_score() }}<br>
    </p>

    <p><button type="submit"> Sign In</button></p>
		</form>

