<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<a href="#">
		<div class="container-fluid col-md-1">	
			<img src="/static/img/grub.png">
		</div>
		<div class="container col-md-2">
			<p class="header">grubconnoisseur.com</p>
		</div>
	</a>
	<div class="container col-md-8">
	{{#if login}}			
	<button type="button" class="btn btn-danger logout">
	<p>Logout</p>
	{{else}}
		<button type="button" class="btn btn-sm btn-warning login">
		Login
		{{/if}}
		</button>
	</div>
</nav>