<div class="panel-left">

	<select id="index_page_sort_select">
		<option value="name" {{#equal sort_by 'name'}}selected='selected'{{/equal}}>Name</option>
		<option value="price" {{#equal sort_by 'price'}}selected='selected'{{/equal}}>Price</option>
		<option value="quality" {{#equal sort_by 'quality'}}selected='selected'{{/equal}}>Quality</option>
		<option value="com_score" {{#equal sort_by 'com_score'}}selected='selected'{{/equal}}>Community Score</option>
		<option value="expert_score" {{#equal sort_by 'expert_score'}}selected='selected'{{/equal}}>Expert Score</option>
	</select>

	<input type="checkbox" {{#if decreasing}}checked="checked"{{/if}} class="orientation"> Decreasing</input><br>

	<div class="index-resturant-container">
		{{#each resturants}}
		<div class="index-resturant-item">
			<a href="#profile/{{name}}" style="color:red">{{name}}</a><br>
		</div>
		{{/each}}
	</div>

</div>

<div class="panel-right">
	<h5>Resturant of the day: </h5>
	<h5 class="resturant_title">{{of_the_day.resturant.name}}</h5>
	<p>                    "{{of_the_day.resturant.description}}"</p>
	<br>
	<h5>Reviews</h5>
	<div class="index-reviews-container">

	{{#each of_the_day.reviews}}
		<div class="index-reviews-item">
			<p>{{author}} says:</p>
			<p>{{text}}</p>
		</div>
		{{else}}
		<a>No Reviews Posted</a>
	{{/each}}
	</div>

	{{#if logged_in}}
	<form id="review" name="review" action="review" method="POST">
		<textarea name="review_box" rows="5" cols="50" placeholder="write a review"></textarea>
		<input name="review_target" type="hidden" value={{of_the_day.resturant.id}}>
		<input name="destination" type="hidden" value="index">
		<button class="btn btn-sm btn-block" style="width:90%" type="submit">Submit</button>
	</form>
	{{else}}
	<h3> Please Login to leave a comment </h3>
	{{/if}}

</div>

