<div class="profile-container">
	<div class="profile-title-div">
		<img src="/static/img/grub.png">
		<h1 class="resturant_title">{{resturant.name}}</h1>
	</div>
	<div class="profile-stats-div">
		<h5> Price: {{price resturant.price}} </h5>
		<h5> Type: {{resturant.type}} </h5>
		<h5> Quality: </h5><div>{{rating resturant.quality}}</div>
		<h5> Customer Rating: </h5><div>{{rating resturant.community_score}}</div>
		<h5> Expert Rating: </h5><div>{{rating resturant.expert_score}}</div>
	</div>
	<div class="profile-description-div">
		<p>"{{resturant.description}}"</p>
	</div>

	<div class="profile-reviews-div">

	{{#each reviews}}
		<div class="profile-reviews-item">
			<p>{{author}} says:</p>
			<p>{{text}}</p>
		</div>
		{{else}}
		<a>No Reviews Posted</a>
	{{/each}}
	</div>
	{{#if logged_in}}
	{{debug}}
		<form id="review" name="review" action="review" method="POST">
		<textarea name="review_box" rows="5" cols="50" style="width: 75%" placeholder="write a review"></textarea>
		<input name="review_target" type="hidden" value={{resturant.id}}>
		<input name="destination" type="hidden" value="profile/{{resturant.name}}">
		<button class="btn btn-sm btn-block" style="width:75%" type="submit">Submit</button>
		</form>
	{{else}}
		<h3> Please Login to leave a comment </h3>
	{{/if}}
</div>
