hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
}

.left-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24%;
    height: 100%;
    background-color: #555555;
}

.mid-panel{
    position: absolute;
    top: 0px;
    left: 25%;
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 5px 5px 5px 15px;
    border: 7px solid #555555;
    overflow-y: scroll;
}

.right-panel{
    position: absolute;
    top: 0px;
    left: 76%;
    width: 24%;
    height: 100%;
    background-color: #555555;
}

.send-message-group {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px 5px 15px 5px;
}


#current_users {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 97%;
    height: 40%;
    border: 2px solid #555555;
    border-top: 27px solid #1199aa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 30px 0px 5px 15px;
    margin: 10px 0px 5px 5px;
    overflow-y: scroll;
}
#your_name {
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 2px;
    width: 100%;
}
.users-text {
    position: fixed;
    top: 12px;
    left: 20px;
    color:white;
    font-weight: bold;
}
#current_chatrooms{
    position: absolute;
    top: 45%;
    left: 0px;
    width: 97%;
    height: 50%;
    border: 2px solid #555555;
    border-top: 29px solid #1199aa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 10px 0px 5px 15px;
    margin: 10px 0px 5px 5px;
    overflow-y: scroll;
}
.chatroom-text {
    position: fixed;
    top: 47%;
    left: 20px;
    color:white;
    font-weight: bold;
}

#private-messages {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 97%;
    height: 25%;
    border: 2px solid #555555;
    border-top: 27px solid #1199aa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 10px 0px 5px 15px;
    margin: 10px 0px 5px 5px;
    overflow-y: scroll;
}
.private-messages-text {
    position: fixed;
    top: 12px;
    right: 20px;
    color:white;
    font-weight: bold;
}

#modify-room {
    position: absolute;
    top: 30%;
    left: 0px;
    width: 97%;
    height: 25%;
    border: 2px solid #555555;
    border-top: 27px solid #1199aa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 10px 15px 5px 15px;
    margin: 10px 0px 5px 5px;
    overflow-y: scroll;
    text-align: center;
}

#kick_input {
    margin: 7px;
}
.modify-room-text {
    position: fixed;
    top: 32%;
    right: 20px;
    color:white;
    font-weight: bold;
}

#create-room {
    position: absolute;
    top: 57%;
    left: 0px;
    width: 97%;
    height: 30%;
    border: 2px solid #555555;
    border-top: 27px solid #1199aa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 10px 15px 5px 15px;
    margin: 10px 0px 5px 5px;
    overflow-y: scroll;
}
.create-room-text {
    position: fixed;
    top: 59%;
    right: 20px;
    color:white;
    font-weight: bold;
}

.selected_group{
    margin-left: -8px;
    padding: 4px;
    border-left: 4px solid #1199aa;
    border-radius: 3px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.glyphicon-envelope{
    padding-right: 5px;
    color: #1199aa;
}