.background {
	position: fixed;
	bottom: 0;
	right: 0;
}

.jumbotron.main {
	margin: 80px 15% 0px 15%;  border-radius: 20px;
}

.jumbotron.secondary {
	margin: 10px 15% 0px 15%;  border-radius: 10px;
}