body {
	padding: 0;
	margin: 0;
	background-color: #ffffcc;
}

.body_left {
	float:left;
	padding-top: 10px;
	padding-left: 15px;
}

.body_right {
	float: right;
	padding-top: 10px;
	padding-right: 15px;
}

.header.login {
	width: 100%;
	height: 90px;
	margin-top: -10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom:5px;
	background-color: #83d5e1;

}

.header p {
	text-transform: uppercase;
	color: red;
	font-size: 40px;
	text-align: center;
}

.header h6 {
	color: black;
	font-size: 15px;
	text-align: center;
}