<!DOCTYPE html>
<head>
	<title> Calendar </title>
	<script type="text/javascript" src="../module_6/include/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../module_6/include/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../module_6/include/css/bootstrap.min.css">

	<script type="text/javascript" src="calendar.js"></script>
	<link rel="stylesheet" type="text/css" href="calendar.css">

	<script>
	document.addEventListener('DOMContentLoaded', init, false);
	</script>

    <script type="text/javascript">
        var active_user = '<%=@Session["username"]%>';
    </script>
</head>
<body>
<div class="wrapper">
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="main.php">DDCalendar</a>
            </div>
            <div class="pull-right">

            <form id="login_form" class="navbar-form navbar-left" role="form" action="" method="post">
                <div class="form-group">
                  <input type="text" placeholder="Username" class="form-control" name="user" id="userInput">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control" name="pass" id="passInput">
                </div>
                <button type="submit" class="btn btn-warning" name="action" value="Sign" id="signButton">Sign </button>
             </form>
            <form id="register_form" class="navbar-form navbar-left" role="form" action="" method="post">
            <div class="form-group">
                <input type="hidden">
            </div>
                <button type="submit" class="btn btn-primary" name="action" value="Register" id="registerButton">Register</button>
            </form>  
            </div>
            <!--/.navbar-collapse -->
            <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
        <!-- /.container -->
    </nav>
<div class="calendar">
    <div>

    </div>
    <div>
        <div class="calendar_placeholder">

            <TABLE BORDER=3 CELLSPACING=7 CELLPADDING=7 style="width:100%; height:100%">
                <TR >
                    <TD COLSPAN="7" ALIGN=center>
                        <div>
                        <div class="month_holder_button"><h2><span class="glyphicon glyphicon-circle-arrow-left last_month"></span></h2></div>
                        <div class="month_holder_title"><p class="title_month"></p></div>
                        <div class="month_holder_button"><h2><span class="glyphicon glyphicon-circle-arrow-right next_month"></span></h2></div>
                        </div>
                    </TD>
                </TR>

                <TR>
                    <TD ALIGN=center>Sun</TD>
                    <TD ALIGN=center>Mon</TD>
                    <TD ALIGN=center>Tue</TD>
                    <TD ALIGN=center>Wed</TD>
                    <TD ALIGN=center>Thu</TD>
                    <TD ALIGN=center>Fri</TD>
                    <TD ALIGN=center>Sat</TD>
                </TR>
                <TR>
                    <TD ALIGN=center class="cal_no cal_1">.</TD>
                    <TD ALIGN=center class="cal_no cal_2">.</TD>
                    <TD ALIGN=center class="cal_no cal_3">.</TD>
                    <TD ALIGN=center class="cal_no cal_4">.</TD>
                    <TD ALIGN=center class="cal_no cal_5">.</TD>
                    <TD ALIGN=center class="cal_no cal_6">.</TD>
                    <TD ALIGN=center class="cal_no cal_7">.</TD>
                </TR>
                <TR>
                    <TD ALIGN=center class="cal_no cal_8">.</TD>
                    <TD ALIGN=center class="cal_no cal_9">.</TD>
                    <TD ALIGN=center class="cal_no cal_10">.</TD>
                    <TD ALIGN=center class="cal_no cal_11">.</TD>
                    <TD ALIGN=center class="cal_no cal_12">.</TD>
                    <TD ALIGN=center class="cal_no cal_13">.</TD>
                    <TD ALIGN=center class="cal_no cal_14">.</TD>
                </TR>
                <TR>
                    <TD ALIGN=center class="cal_no cal_15">.</TD>
                    <TD ALIGN=center class="cal_no cal_16">.</TD>
                    <TD ALIGN=center class="cal_no cal_17">.</TD>
                    <TD ALIGN=center class="cal_no cal_18">.</TD>
                    <TD ALIGN=center class="cal_no cal_19">.</TD>
                    <TD ALIGN=center class="cal_no cal_20">.</TD>
                    <TD ALIGN=center class="cal_no cal_21">.</TD>
                </TR>
                <TR>
                    <TD ALIGN=center class="cal_no cal_22">.</TD>
                    <TD ALIGN=center class="cal_no cal_23">.</TD>
                    <TD ALIGN=center class="cal_no cal_24">.</TD>
                    <TD ALIGN=center class="cal_no cal_25">.</TD>
                    <TD ALIGN=center class="cal_no cal_26">.</TD>
                    <TD ALIGN=center class="cal_no cal_27">.</TD>
                    <TD ALIGN=center class="cal_no cal_28">.</TD>
                </TR>
                <TR>
                    <TD ALIGN=center class="cal_no cal_29">.</TD>
                    <TD ALIGN=center class="cal_no cal_30">.</TD>
                    <TD ALIGN=center class="cal_no cal_31">.</TD>
                    <TD ALIGN=center class="cal_no cal_32">.</TD>
                    <TD ALIGN=center class="cal_no cal_33">.</TD>
                    <TD ALIGN=center class="cal_no cal_34">.</TD>
                    <TD ALIGN=center class="cal_no cal_35">.</TD>
                </TR>

                <TR>
                    <TD ALIGN=center class="cal_no cal_36">.</TD>
                    <TD ALIGN=center class="cal_no cal_37">.</TD>
                    <TD ALIGN=center class="cal_no cal_38">.</TD>
                    <TD ALIGN=center class="cal_no cal_39">.</TD>
                    <TD ALIGN=center class="cal_no cal_40">.</TD>
                    <TD ALIGN=center class="cal_no cal_41">.</TD>
                    <TD ALIGN=center class="cal_no cal_42">.</TD>
                </TR>

            </TABLE>


        </div>
    </div>
</div>
<div class="events">
    <div id="describe_event">

        <dl class="dl-horizontal">
            <dt style="text-align: left; width: 120px">Title</dt>
            <dd style="margin-left: 120px" class="describe_event_title">...</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt style="text-align: left; width: 120px">Time</dt>
            <dd style="margin-left: 120px" class="describe_event_time">...</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt style="text-align: left; width: 120px">Description</dt>
            <dd style="margin-left: 120px" class="describe_event_desc">...</dd>
        </dl>

    </div>


    <form id="event_form" role="form" action="" method="post" class="form-horizontal">
      <div class="form-group">
        <label for="inputEventTitle" class="col-sm-2 control-label white">Title</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEventTitle" placeholder="Event Title">
          </div>
      </div>

      <div class="form-group">
        <label for="inputEventDate" class="col-sm-2 control-label white">Date</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputEventDate">
          </div>
      </div>

      <div class="form-group">
        <label for="inputEventTime" class="col-sm-2 control-label white">Time</label>
          <div class="col-sm-10">
            <input type="time" class="form-control" id="inputEventTime">
          </div>
      </div>



      <div class="form-group">
        <label for="inputEventDescription" class="col-sm-2 control-label white">Desc</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="inputEventDescription" placeholder="Event Description..." rows='3'></textarea>
          </div>
      </div>


      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>


</div>
</body>
</html>