body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

table {
    width: 100%;
    height: 100%;
    border: 3px solid darkgray;

}

.wrapper {
	padding:50px 0; 
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}	

.calendar {
	height:100%;
	width: 62%;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	text-align: center;

}

.events {
	height: 100%;
	width: 33%;
	float: right;
	margin-top: 5px;
	margin-right: 5px;

}

#describe_event {
    border: 2px solid darkgray;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
}

.month_holder_button {
    display: inline-block;
    width: 60px;
    vertical-align: middle;

}

.month_holder_title {
    display: inline-block;
    width: 220px;
    vertical-align: middle;
}

.last_month {
    color: darkgray;
}

.next_month {
    color: darkgray;
}

.title_month {
    font-size: 26px;
    font-family: Verdana;
    margin: 0px;
}

.cal_no {
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 2px;
    text-align: left;
    width: 14%;
}
#signButton::after {
    content: "In";
}

#signButton.signOut::after {
    content: "Out";
}
#signButton.signOut {
    background-color: red;
}
#event_form {
    border: 2px solid darkgray;
    padding: 10px 10px 20px 10px;
    border-radius:0px 0px 5px 5px;
    background-color: darkgray;
}

.white {
    color: white;
}




